@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  padding: 0 80px;
  font-size: 100%;
  background:#fcfff4
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-menu {
  display: flex;
  gap: 42px;
}
.menu {
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 18px;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid rgb(10, 10, 10);
  padding: 24px;
}

.conteudo-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 25px;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction:column;
  gap: 40px;
}

.titulo {
  font-family: 'Abril Fatface', cursive;
  color: #830778;
  font-weight: 400;
  font-size: 64px;
}

.subtitulo {
  display: flex;
  flex-direction:center;
  align-items: center;
  justify-content: space-around;
}

.subtitulo {
  font-family: "Montserrat", sans-serif;
  color: #050505;
  font-weight: 400;
  font-size: 24px;
}

.conteudo-principal-botao:hover {
   background-color:  rgba(236, 214, 196, 0.53);
}
.conteudo-principal-botao {
  background-color: #f7cdff;
  width: 160px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}


.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-paragrafo {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #0a0a0a;
}

.rodape {
  padding: 32px;
  border-top: 0.4px solid rgb(5, 5, 5);
}

.rodape-paragrafo {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  color: #050505;
}


.titulo-contato {
  text-align:center;
  font-family: "Montserrat", sans-serif;
  color: rgb(5, 5, 5);;
  font-size: 24px;
  padding: 24px;
}
.formulario {
  text-align:justify;
  font-family: "Montserrat", sans-serif;
  color: rgb(5, 5, 5);
  font-size: 18px;
  padding: 24px;

}
input, textarea{
  background-color: #f7cdff;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #050505;
}

.botao-contato {
  background-color: #eb85ff;
  width: 130px;
  height: 40px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #030303;
}

.botao-contato {
  font-family: "Montserrat", sans-serif;
  color: #080808;
  font-size: 20px;
}

.botao-contato:hover {
  background-color:  rgba(236, 214, 196, 0.53);
}
